<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="theme-color" content="#000" />

    <link rel="preconnect" href="https://<%= appId %>-dsn.algolia.net" crossorigin />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="app.css" />

    <title>Unified InstantSearch E-commerce</title>
  </head>

  <body>
    <header class="header">
      <div class="header-title">
        <img src="social-local-logo.png" />
        <h1></h1>
      </div>
      <!-- <div id="search-button"></div> -->
    </header>

    <!-- <div class="content">
      <p>Click on the search box in the top-right corner to start searching.</p>
    </div> -->

     

    <div class="content">
       <div class="social-local-landing">
         <span class="primary">Social Local</span>
         <span>Discover</span>
         <span>Connect</span>
         <span>Become <span class="primary">UnStuck</span></span>
       </div>
    </div>

    <footer class="footer">
     <div id="search-button"></div>
    </footer>
  
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.includes,Promise,Object.assign,Object.entries,Object.values,IntersectionObserver"></script>
  </body>
</html>
